    <header>
      <div class="button"><i class="fi-torso"></i>12</div>
      <div class="title"><a href="/tweets">tan-i.org</a></div>
      <div class="menu"><a href="/tweets/new"><i class="fi-pencil"></i></a>　<i class="fi-music"></i>　<i class="fi-torsos-all"></i></div>
    </header>

  <div class="contents row">
    <div style="text-align:center;">
      <h1>
        投稿が完了しました。
      </h1>
      <a href="/tweets">投稿一覧へ戻る</a>
    </div>
  </div>