<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.scss">
    <title>tan-i.org</title>
  </head>
  <body>

    <div style="text-align:center;"><h1>ARU-ARU</h1></div>
    <div class="caption">（大学4年の後期なのに単位が残っている人あるある）</div>
  <%= render partial: 'tweet', collection: @tweets %>
  <%= paginate(@tweets) %>
  </body>
</html>