body {
  font-family: "HiraMinProN-W3", "Yumincho", "Meiryo";
  color: #000000;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333333;
}

h1 {
  font-family: "Futura-Medium", "Century Gothic", "HiraMinProN-W3", "Yumincho";
  font-size: 4rem;
  letter-spacing: -0.8rem;
  margin: 10px auto 10px;
}

.formwords {
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 24px;
  color: "#D6D6D6";
}

.information {
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 12px;
  text-align: right;
  margin: 5px 5px 5px;
}

.information2 {
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 1rem;
}

.frame {
 width: 90%;
 font-size: 2rem;
 border-style: solid;
 border-width: 1px;
 border-radius: 5px;
 border-color: #85888D;
 margin: 40px auto 40px;
 padding: 3%;
}

.title {
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 9rem;
  letter-spacing: 1rem;
  text-align: center;
  margin: 20px auto 20px;
}

.menuicons {
  margin: 10px auto 20px;
  text-align: center;
  font-size: 3.5rem;
}

.caption {
  font-size: 12px;
  color: #C0C0C0;
  margin: -10px auto 10px;
  text-align: center;
  letter-spacing: -2px;
}

.menubutton1 {
  width: 25px;
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #85888D;
  float: left;
  padding: 5px;
  text-align: center;
}

.button {
  width: 50px;
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #85888D;
  margin-left: auto;
  padding: 5px;
  text-align: center;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.links {
  text-align:center;
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 24px;
  margin-bottom: 50px;
}

div.contents.row {
 max-width: 320px;
 margin: 0 auto;
 font-family: "Futura-Medium", "Century Gothic";
  input,textarea {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #85888D;
    padding: 10px;
    width: 95%;
    font-family: "Futura-Medium", "Century Gothic";
    font-size: 24px;
    color: "#D6D6D6";
  }
  success {
  text-align:center;
  }
}

div.footer {
  text-align:center;
  font-size:14px;
  font-family:'Futura-Medium';
  margin-top:20px;
  margin-bottom:50px;
  a {
  text-decoration: none;
  color: #C0C0C0;
  }
}