/* Global */
body {
  font-family: "HiraMinProN-W3", "Yumincho", "Meiryo";
  font-color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #000000;
}

h1,h2,h3,h4,h5 {
  margin: auto;
}

h1 {
  font-family: "Futura-Medium", "Century Gothic", "HiraMinProN-W3", "Yumincho";
  font-size: 24px;
  letter-spacing: -10%;
}

.formwords {
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 24px;
  font-color: "#D6D6D6";
}

.information {
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 12px;
}