body {
  font-family: "HiraMinProN-W3", "Yumincho", "Meiryo";
  color: #000000;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333333;
}

h1 {
  font-family: "Futura-Medium", "Century Gothic", "HiraMinProN-W3", "Yumincho";
  font-size: 1.4rem;
  letter-spacing: -0.2rem;
  margin: 0.5rem auto 0.5rem;
}

.formwords {
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 2rem;
  color: "#D6D6D6";
}

.information {
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 0.7rem;
  text-align: right;
  margin: 5px 5px 5px;
}

.information2 {
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 2rem;
}

.frame {
 width: 90%;
 font-size: 1.3rem;
 border-style: solid;
 border-width: 1px;
 border-radius: 0.5rem;
 border-color: #85888D;
 margin: 1.2rem auto 1.2rem;
 padding: 3%;
}

.title {
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 2.6rem;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 1rem auto 1rem;
}

.menuicons {
  margin: 1rem auto 1rem;
  text-align: center;
  font-size: 1.4rem;
}

.caption {
  font-size: 0.8rem;
  color: #C0C0C0;
  margin: -10px auto 10px;
  text-align: center;
  letter-spacing: -2px;
}

.menubutton1 {
  width: 25px;
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #85888D;
  float: left;
  padding: 5px;
  text-align: center;
}

.button {
  width: 95%;
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 1.5rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-color: #85888D;
  margin-left: auto;
  padding: 5px;
  text-align: center;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.links {
  text-align:center;
  font-family: "Futura-Medium", "Century Gothic";
  font-size: 24px;
  margin-bottom: 50px;
}

div.contents.row {
 width: 100%;
 margin: 0 auto;
 font-family: "Futura-Medium", "Century Gothic";
  input,textarea {
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: #85888D;
    padding: 10px;
    width: 100%;
    font-family: "Futura-Medium", "Century Gothic";
    font-size: 1.5rem;
    color: "#D6D6D6";
  }
  success {
  text-align:center;
  }
}

div.footer {
  text-align:center;
  font-size:0.8rem;
  font-family:'Futura-Medium';
  margin-top:4rem;
  margin-bottom:5rem;
  a {
  text-decoration: none;
  color: #C0C0C0;
  }
}

nav.pagination {
  font-family:'Futura-Medium';
  margin-top:2rem;
  margin-bottom:2rem;
  text-align:center;
  font-size:1.5rem;
}